WCF/Лекции/WCF_2 les/Приложения к уроку 2/WCF_ClientDataContract/WCF_ClientDataContract/Service References/ServiceReference1/MyMath1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MyMath?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_MyServerDatContract" />
  <xs:element name="Total">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_MyServerDatContract" minOccurs="0" name="TotalResult" nillable="true" type="q1:MathResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>